<footer>
  <div class=upperfooter>
  <div class=links>

<a href={{ footer.codebergUrl }} aria-label="See my Codeberg">
  <img src="assets/250px-Codeberg_logo.png" alt="Codeberg Logo">
</a>
<a href={{ footer.githubUrl }} aria-label="See my Github">
  <img src="assets/250px-Octicons-mark-github.png" alt="Github Logo">
</a>
 <a href={{ footer.linkedinUrl }} aria-label="See my Linkedin">
      <img src="assets/40px-Cib-linkedin.png" alt="Linkedin Logo">
  </a>
  </div>

  <div class=text>
  {{ footer.stackMsg }}
  {{ footer.authorship }}
  </div>
  </div>


  {% for credit in footer.credits %}
  <a href={{ credit.link }}>{{ credit.text }}</a>
  {% endfor %}

  <!-- Add in the build date -->
</footer>
